
<div class="three wide column">
    <a th:href="@{/map}">
        <img th:src="@{/img/logo.png}">
    </a>
</div>

<div class="ten wide column right floated bottom aligned">
    <div id="menu-wrap">
        <a th:href="@{/map}">HOME</a>
        <a th:href="@{/mymap}">나의 지도</a>
        <a th:href="@{/gallery}">갤러리</a>
        <a th:href="@{/board}">게시판</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
        <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a>
    </div>
</div>