
<div class="three wide column">
    <a th:href="@{/map}">
        <img th:src="@{/img/logo.png}">
    </a>
</div>

<div class="five wide column right floated bottom aligned">
    <div id="menu-wrap">
        <a th:href="@{/user/login}" class="menu-items">로그인</a>
        <a th:href="@{/user/logout}" class="menu-items">로그아웃</a>
        <a th:href="@{/user/signup}" class="menu-items">회원가입</a>
        <a th:href="@{/user/info}" class="menu-items">내정보</a>
    </div>

    <div class="ui search" id="search-wrap">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="검색어를 입력해주세요">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
</div>