<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">

    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="board-detail-container">
    <div class="ui grid container">
        <!-- SIDE MENU -->
        <div th:insert="common/sidemenu.html" class="three wide column"></div>

        <div class="thirteen wide column">
            <!-- 게시글 -->
            <div id="board-detail-wrap">
                <!-- 헤더 -->
                <div class="ui list">
                    <div class="item">
                        <div class="right floated">
                            <span th:text="${board.author}"></span>
                        </div>
                        <div class="content ui dividing header">
                            <span th:text="${board.title}"></span>
                        </div>
                    </div>
                </div>

                <!-- 본문 -->
                <p id="content-header-box" th:inline="text" >[[${#temporals.format(board.modifiedDate, 'yyyy-MM-dd HH:mm')}]]</p>

                <p id="board-detail-content" class="scrollbar" th:text="${board.content}"></p>

                <!-- 푸터 -->
                <div id="like-box">
                    <button class="ui medium teal button">
                        <i class="heart like icon outline">좋아요</i>
                    </button>
                </div>
                <div id="update-delete-box">
                    <button id="write-btn" class="ui medium teal button">수정</button>

                    <form th:action="@{'/board/' + ${board.id}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button class="ui medium teal submit button">삭제</button>
                    </form>
                </div>
            </div>

            <!-- 댓글 -->
            <div id="comment-container" class="ui comments">
                <h3 class="ui dividing header">댓글</h3>

                <div id="comment-form">
                    <form th:action="@{'/board/' + ${board.id} + '/comment'}" method="post" class="ui form">
                        <div class="field">
                            <textarea name="content" rows="3"></textarea>
                        </div>
                        <button class="ui medium teal submit button right floated">댓글등록</button>
                    </form>
                </div>

                <div id="comment-list" class="scrollbar">
                    <div th:each="reply : ${replies}" class="comment">
                        <span th:text="${reply.username}" class="author"></span>
                        <div class="metadata">
                            <span th:text="${reply.date}" class="date"></span>
                        </div>

                        <div class="text" th:text="${reply.content}"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal -->
        <div th:insert="board/update.html"></div>

    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>


<!-- update modal에서 사용할 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    let title = /*[[${board.title}]]*/ "";
    let content = /*[[${board.content}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/util/validator.js}"></script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>

</body>
</html>