<div id="detail-hidden" class="gallery-modal">
    <div id="detail-modal-overlay"></div>
    <div id="detail-modal-content" class="ui grid">
        <!-- 헤더 -->
        <div class="sixteen wide wide column">
            <div id="detail-cancel-box">
                <i id="detail-cancel-btn" class="close icon one wide column"></i>
            </div>
            <div id="gallery-info-title" class="ui dividing header"></div>
        </div>

        <!-- left side : 이미지, 설명 -->
        <div class="nine wide column">
            <div class="image content">
                <div class="image">
                    <img id="detail-img">
                </div>
            </div>

            <div class="field">
                <p id="gallery-info-desc"></p>
            </div>
        </div>

        <!-- right side : 댓글 -->
        <div class="seven wide column">
            <div class="ui comments">

                <div id="reply-text" class="ui form">
                    <input id="reply-url" type="hidden"/>
                    <input id="csrf_token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <textarea name="content" rows="3"></textarea>
                </div>
                <button id="comment-write-btn" class="ui medium teal submit button right floated">등록</button>

                <!-- 댓글 리스트 (ajax) -->
                <div id="comment-list" class="scrollbar">
                    <div id="comment-box" class="comment"></div>
                </div>
            </div>
        </div>
    </div>
</div>