<div id="detail-hidden" class="gallery-modal">
    <div id="detail-modal-overlay"></div>
    <div id="detail-modal-content" class="ui grid">
        <div class="sixteen wide wide column">
            <div id="detail-cancel-box">
                <i id="detail-cancel-btn" class="close icon one wide column"></i>
            </div>
            <div id="gallery-info-title" class="ui dividing header"></div>
        </div>

        <div class="nine wide column">
            <div class="image content">
                <div class="image">
                    <img id="detail-img">
                </div>
            </div>

            <div class="field">
                <p id="gallery-info-desc"></p>
            </div>
        </div>
        <div class="seven wide column">
            <p> 댓글 공간</p>
        </div>
    </div>
</div>