<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/gallery.css}">

    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="gallery-container">
    <div class="ui grid container">
        <!-- SIDE MENU -->
        <div th:insert="common/sidemenu.html" class="three wide column"></div>

        <div class="thirteen wide column">
            <button id="write-btn" class="ui medium teal button right floated">글쓰기</button>

            <div id="list" class="ui three cards">
                <!-- CONTENTS !-->
                <div th:each="gallery : ${galleryList}" class="card detail-btn">
                    <div class="content">
                        <p class="right floated meta" th:text="${gallery.author}"></p>
                        <p th:text="${gallery.title}">14h</p>
                    </div>

                    <div class="image">
                        <img th:src="${gallery.filePath}">
                    </div>

                    <div class="content">
                        <span class="right floated">
                          <i class="heart outline like icon"></i> 17 likes
                        </span>
                        <i class="comment icon"></i> 3 comments
                    </div>
                </div>
            </div>
        </div>

        <!-- modal -->
        <div th:insert="gallery/write.html"></div>
        <div th:insert="gallery/detail.html"></div>

    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<!-- script -->
<script th:src="@{/js/gallery.js}"></script>

</body>
</html>