<div class="gallery_modal write_hidden">
    <div class="modal_overlay"></div>
    <div class="modal_content">
        <h1 class="ui dividing header">게시글 작성</h1>

        <div class="content">
            <form th:action="@{/gallery}" method="post" class="ui form" enctype="multipart/form-data">
                <div class="field">
                    <label>제목</label>
                    <input name="title" type="text" placeholder="제목을 입력해주세요">
                </div>

                <div class="field">
                    <label>설명</label>
                    <textarea name="content" rows="6"></textarea>
                </div>

                <div class="fields filebox">
                    <div class="six wide field">
                        <input id="upload-name" value="파일선택" disabled="disabled">
                    </div>

                    <div class="field">
                        <label for="ex_filename">업로드</label>
                        <input type="file" id="ex_filename" class="field" name="file">
                    </div>
                </div>

                <div class="field">
                    <img th:src="@{/img/sample.jpg}" id="img-preview">
                </div>

                <div class="field">
                    <button id="cancel-btn" class="ui medium teal button right floated">취소</button>
                    <button id="submit-btn" class="ui medium teal button right floated">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>