<div class="ui grid thirteen wide column">
    <div class="two wide column">
        <label class="content-title">제목</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-title"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">여행일</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-period"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">소개</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-description"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">지출</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-cost"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">총평</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-totalReview"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">공개 여부</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-openStatus"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">식사</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-foodInfo"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">여행 장소</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-placeInfo"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">숙소</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-lodgingInfo"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">교통</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-transportInfo"></p>
    </div>

    <div class="two wide column">
        <label class="content-title">메모</label>
    </div>
    <div class="thirteen wide column">
        <p id="travel-memo"></p>
    </div>
</div>

<div class="ui grid three wide column">
    <div class="inline">
        <img id="img-preview">
    </div>
</div>
