<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/mymap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8f89e49b5e58828275ce71546d387f4"></script>
    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="maplist-container">
    <div class="ui grid container">
        <!-- SIDE MENU -->
        <div th:insert="common/sidemenu.html" class="three wide column"></div>

        <div class="thirteen wide column">
            <a th:href="@{/mymap/making}">
                <button id="making-btn" class="ui medium teal button right floated">지도 만들기</button>
            </a>
        </div>

        <!-- Kakao Map API -->
        <div id="small-map" class="four wide column right floated"></div>

        <div th:if="${travelDto}"
             id="map-content" class="eight wide column left floated scrollbar">
            <div class="content-box">
                <label class="content-title">제목</label>
                <p th:text="${travelDto.title}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">여행일</label>
                <p th:inline="text">
                    [[${travelDto.periodStartDate}]] ~ [[${travelDto.periodEndDate}]]
                </p>
            </div>

            <div class="content-box">
                <label class="content-title">소개</label>
                <p th:text="${travelDto.description}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">식사</label>
                <p th:text="${travelDto.foodInfo}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">여행 장소</label>
                <p th:text="${travelDto.placeInfo}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">숙소</label>
                <p th:text="${travelDto.lodgingInfo}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">교통</label>
                <p th:text="${travelDto.transportInfo}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">지출</label>
                <p th:text="${travelDto.cost}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">총평</label>
                <p th:text="${travelDto.totalReview}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">메모</label>
                <p th:text="${travelDto.memo}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">공개 여부</label>
                <p th:text="${travelDto.openStatus}"></p>
            </div>

            <div class="content-box">
                <label class="content-title">이미지</label>
                <div class="inline">
                    <img class="img-preview" th:src="@{/img/sample.jpg}">
                    <img class="img-preview" th:src="@{/img/sample.jpg}">
                    <img class="img-preview" th:src="@{/img/sample.jpg}">
                    <img class="img-preview" th:src="@{/img/sample.jpg}">
                    <img class="img-preview" th:src="@{/img/sample.jpg}">
                    <img class="img-preview" th:src="@{/img/sample.jpg}">
                </div>
            </div>



        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<script>
    var container = document.getElementById('small-map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
</script>

</body>
</html>