<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/mymap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8f89e49b5e58828275ce71546d387f4"></script>
    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="maplist-container">
    <div class="ui grid container">
        <div class="sixteen wide column">
            <a th:href="@{/mymap/making}">
                <button id="making-btn" class="ui medium teal button right floated">지도 만들기</button>
            </a>
        </div>

        <!-- Kakao Map API -->
        <div id="small-map" class="thirteen wide column right floated"></div>

        <!-- 최근 여행정보 리스트 -->
        <div class="three wide column">

            <div id="latest-travel-list" class="ui vertical pointing menu">
                <span th:each="travel : ${travelList}"
                      th:text="${travel.title}"
                      th:data-id="${travel.id}"
                      class="active item travel-list">
                </span>
                <div id="emtpy" class="item"></div>
            </div>
        </div>

        <!-- 단일 여행 정보 영역 -->
        <div class="ui grid sixteen wide column">
            <!-- 검색 -->
            <div id="search-wrap" class="ui search sixteen wide column">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="검색어를 입력해주세요">
                    <i class="search icon"></i>
                </div>
            </div>

            <div id="map-content-left" class="seven wide column scrollbar" >
                <div class="content-box">
                    <label class="content-title">제목</label>
                    <p id="travel-title"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">여행일</label>
                    <p id="travel-period"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">소개</label>
                    <p id="travel-description"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">지출</label>
                    <p id="travel-cost"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">총평</label>
                    <p id="travel-totalReview"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">공개 여부</label>
                    <p id="travel-openStatus"></p>
                </div>
            </div>

            <div id="map-content-right" class="eight wide column scrollbar" >
                <div class="content-box">
                    <label class="content-title">식사</label>
                    <p id="travel-foodInfo"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">여행 장소</label>
                    <p id="travel-placeInfo"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">숙소</label>
                    <p id="travel-lodgingInfo"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">교통</label>
                    <p id="travel-transportInfo"></p>
                </div>

                <div class="content-box">
                    <label class="content-title">메모</label>
                    <p id="travel-memo"></p>
                </div>
            </div>

            <div id="map-content-footer" class="thirteen wide column scrollbar" >
                <div class="content-box">
                    <label class="content-title">이미지</label>
                    <div class="inline">
                        <img class="img-preview" th:src="@{/img/sample.jpg}">
                        <img class="img-preview" th:src="@{/img/sample.jpg}">
                        <img class="img-preview" th:src="@{/img/sample.jpg}">
                        <img class="img-preview" th:src="@{/img/sample.jpg}">
                        <img class="img-preview" th:src="@{/img/sample.jpg}">
                        <img class="img-preview" th:src="@{/img/sample.jpg}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    let positions = [];

    /*[# th:each="item : ${positionsList}"]*/
    positions.push([(${item})]);
    /*[/]*/
</script>

<script th:src="@{/js/util/ajax.js}"></script>
<script th:src="@{/js/mymap.js}"></script>

</body>
</html>