<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/mymap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8f89e49b5e58828275ce71546d387f4"></script>
    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="map-container">
    <div class="ui grid container">
        <div id="container-header" class="sixteen wide column">
            <h1>나의 지도</h1>
            <a th:href="@{/mymap/making}">
                <button id="making-btn" class="ui medium teal button right floated">지도 만들기</button>
            </a>
        </div>

        <!-- Kakao Map API -->
        <div id="small-map" class="thirteen wide column right floated"></div>

        <!-- 최근 여행정보 리스트 -->
        <div class="three wide column">
            <div id="latest-travel-list" class="ui vertical pointing menu">
                <span th:each="travel : ${travelList}"
                      th:text="${travel.title}"
                      th:data-id="${travel.id}"
                      class="active item travel-list">
                </span>
                <div id="emtpy" class="item"></div>
            </div>
        </div>

        <!-- 단일 여행 정보 영역 -->
        <div id="travel-info" class="ui grid hidden">
            <div class="ui grid eleven wide column">
                <div class="three wide column">
                    <label class="content-title">제목</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-title"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">여행일</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-period"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">소개</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-description"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">지출</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-cost"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">총평</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-totalReview"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">공개 여부</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-openStatus"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">식사</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-foodInfo"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">여행 장소</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-placeInfo"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">숙소</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-lodgingInfo"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">교통</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-transportInfo"></p>
                </div>

                <div class="three wide column">
                    <label class="content-title">메모</label>
                </div>
                <div class="twelve wide column">
                    <p id="travel-memo"></p>
                </div>
            </div>

            <div class="vertical-divider"></div>

            <div class="ui grid five wide column">
                <div class="inline">
                    <img id="img-preview">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    let positions = [];

    /*[# th:each="item : ${positionsList}"]*/
    positions.push([(${item})]);
    /*[/]*/
</script>

<script th:src="@{/js/util/ajax.js}"></script>
<script th:src="@{/js/mymap.js}"></script>

</body>
</html>