
/**********************
 *   common
 **********************/
#gallery-container {
    background-color: #f2f4f7;
    height: 1000px;
}

#write-btn {
    width: 15%
}

.detail-btn {
    cursor: pointer;
}

/**********************
 *   modal
 **********************/
.gallery_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content {
    background-color: white;
    position: relative;
    padding: 40px 60px;
    width: 70%;
}

.write_hidden {
    display: none;
}

.detail_hidden {
    display: none;
}


/**********************
 *   gallery-list
 **********************/
#list {
    margin: 50px 0px;
    padding: 0px 30px;
}

/**********************
 *   gallery-detail
 **********************/
#full-img {
    height: 100%;
    width: 100%;
}

#img-preview {
    width: 50%;
    height: 50%;
}

#description {
    height: 200px;
    padding: 1.5rem;
}