

/**********************
 *   map-outline
 **********************/
#maplist-container {
    background-color: #f2f4f7;
    height: 2200px;
}

#new-map {
    height: 800px;
}

#popular-map {
    height: 800px;
}

#recommend-map {
    height: 800px;
}

.map-list-box {
    margin: 30px 0px;
}


/**********************
 *   search
 **********************/
#search-box {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

#search-box .ui.icon.input.search {
    width: 50%;
    height: 4em;
}


/**********************
 *   card
 **********************/
.card-img {
    width: 100%;
}

