

/**********************
 *   map-outline
 **********************/
#map-container {
    background-color: #f2f4f7;
    height: 2200px;
}

#new-map {
    height: 800px;
}

#popular-map {
    height: 800px;
}

#recommend-map {
    height: 800px;
}

.map-list-box {
    margin: 30px 0px;
}


