<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div>
    <div class="banner-box">
        <div class="banner-img"><img th:src="@{/img/banner/banner.jpg}" class="banner-img"></div>
        <div class="banner-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a th:href="@{/map}">
                <button id="start-btn" class="ui big teal button">시작하기</button>
            </a>
        </div>
    </div>
    <div class="banner-box">
        <div class="banner-img"><img th:src="@{/img/banner/banner2.jpg}" class="banner-img"></div>
        <div class="banner-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></p>
        </div>
    </div>
    <div class="banner-box">
        <div class="banner-img"><img th:src="@{/img/banner/banner3.jpg}" class="banner-img"></div>
        <div class="banner-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></p>
        </div>
    </div>
    <div class="banner-box">
        <div class="banner-img"><img th:src="@{/img/banner/banner4.jpg}" class="banner-img"></div>
        <div class="banner-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></p>
        </div>
    </div>
    <div class="banner-box">
        <div class="banner-img"><img th:src="@{/img/banner/banner5.jpg}" class="banner-img"></div>
        <div class="banner-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></p>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

</body>
</html>