<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="maplist-container">
    <div class="ui grid container">
        <div id="search-box">
            <form action="/search/map" method="GET">
                <div class="ui search icon input">
                    <input class="prompt" name="keyword" type="text" placeholder="검색어를 입력해주세요">
                    <i class="search icon"></i>
                </div>
            </form>
        </div>

        <div id="new-map" class="sixteen wide column map-list-box">
            <h1>뜨끄~은한 여행지도</h1>
            <div class="ui three cards">
                <div th:each="travel : ${recentTravelList}" class="card">
                    <div class="content">
                        <p class="right floated meta" th:text="${travel.userName}"></p>
                        <p th:text="${travel.title}"></p>
                    </div>

                    <div class="image">
                        <a th:href="@{'/map/' + ${travel.id}}">
                            <img class="card-img" th:src="${travel.filePath}">
                        </a>
                    </div>

                    <div class="content">
                        <p th:text="${travel.description}"></p>
                    </div>

                    <div class="content">
                        <span class="right floated">
                            <i class="heart like icon like-btn"
                               th:classappend="${travel.checked} ? 'checked' : 'outline'"
                               th:value="${travel.id}">
                            </i>
                            <span th:text="${travel.likeCount}"></span> likes
                        </span>
                        <i class="comment icon"></i>
                        <span th:text="${travel.commentCount}"></span> comments
                    </div>
                </div>
            </div>
        </div>


        <div id="popular-map" class="sixteen wide column right floated  map-list-box">
            <h1>인기최고 여행지도</h1>
            <div class="ui three cards">
                <div th:each="travel : ${popularTravelList}" class="card">
                    <div class="content">
                        <p class="right floated meta" th:text="${travel.userName}"></p>
                        <p th:text="${travel.title}"></p>
                    </div>

                    <div class="image">
                        <a th:href="@{'/map/' + ${travel.id}}">
                            <img class="card-img" th:src="${travel.filePath}">
                        </a>
                    </div>

                    <div class="content">
                        <p th:text="${travel.description}"></p>
                    </div>

                    <div class="content">
                        <span class="right floated">
                            <i class="heart like icon like-btn"
                               th:classappend="${travel.checked} ? 'checked' : 'outline'"
                               th:value="${travel.id}">
                            </i>
                            <span th:text="${travel.likeCount}"></span> likes
                        </span>
                        <i class="comment icon"></i>
                        <span th:text="${travel.commentCount}"></span> comments
                    </div>
                </div>
            </div>
        </div>


        <div id="recommend-map" class="sixteen wide column right floated  map-list-box">
            <h1>추천 여행지</h1>
            <div class="ui three cards">
                <!-- 추천 여행지 1번 -->
                <div class="card">
                    <div class="content">
                        <p class="recommend-card-title">제주도</p>
                    </div>

                    <div class="image">
                        <a href="https://www.google.com/maps/place/%EC%84%B1%EC%82%B0+%EC%9D%BC%EC%B6%9C%EB%B4%89/@33.4645856,126.9266334,13.35z/data=!4m5!3m4!1s0x350d14b9f6e3789f:0x555132053a23b64b!8m2!3d33.458056!4d126.9425?hl=ko">
                            <img class="card-img" th:src="@{/img/recommend_travel/jeju_20200111.jpg}">
                        </a>
                    </div>

                    <div class="content">
                        <p>
                            지치고 힘들땐 바다를 보면서... 🌊🌊
                            올 겨울 제주로 떠나보시는건 어떠신가요~? 🛫
                        </p>
                    </div>
                </div>

                <!-- 추천 여행지 2번 -->
                <div class="card">
                    <div class="content">
                        <p class="recommend-card-title">순천</p>
                    </div>

                    <div class="image">
                        <a href="https://www.google.com/maps/search/%EC%88%9C%EC%B2%9C%EB%A7%8C+%EC%9E%90%EC%97%B0%EC%83%9D%ED%83%9C%EA%B3%B5%EC%9B%90/@34.881723,127.4869475,12.38z?hl=ko">
                            <img class="card-img" th:src="@{/img/recommend_travel/sunchjeon_20200111.jpg}">
                        </a>
                    </div>

                    <div class="content">
                        <p>
                            나 어딨게~~? 🙈  <br>
                            갈대밭에서 사진📸 찍자!!
                        </p>
                    </div>
                </div>

                <!-- 추천 여행지 3번 -->
                <div class="card">
                    <div class="content">
                        <p class="recommend-card-title">서울</p>
                    </div>

                    <div class="image">
                        <a href="https://www.google.com/maps/place/%EB%B6%81%EC%B4%8C%ED%95%9C%EC%98%A5%EB%A7%88%EC%9D%84/@37.5818137,126.9797378,15.35z/data=!4m5!3m4!1s0x357ca2daaff8c14f:0xcdbcbaa9ffc9e59a!8m2!3d37.5824075!4d126.9836531?hl=ko">
                            <img class="card-img" th:src="@{/img/recommend_travel/seoul_20200111.jpg}">
                        </a>
                    </div>

                    <div class="content">
                        <p>
                            서울에 이런곳이...!? 😱 <br>
                            노을진 한옥마을로 떠나보자
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<script th:src="@{/js/util/ajax.js}"></script>
<script th:src="@{/js/mapList.js}"></script>

</body>
</html>