<!DOCTYPE html >
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <title>MapMaker</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="maplist-container">
    <div class="ui grid container">
        <div id="search-box">
            <form action="/search/map" method="GET">
                <div class="ui search icon input">
                    <input class="prompt" name="keyword" type="text" placeholder="검색어를 입력해주세요">
                    <i class="search icon"></i>
                </div>
            </form>
        </div>

        <div id="new-map" class="sixteen wide column map-list-box">
            <h1>뜨끄~은한 여행지도</h1>
            <div class="ui three cards">
                <div th:each="travel : ${recentTravelList}" class="card">
                    <div class="content">
                        <p class="right floated meta" th:text="${travel.userName}"></p>
                        <p th:text="${travel.title}"></p>
                    </div>

                    <div class="image">
                        <a th:href="@{'/map/' + ${travel.id}}">
                            <img class="card-img" th:src="${travel.filePath}">
                        </a>
                    </div>

                    <div class="content">
                        <p th:text="${travel.description}"></p>
                    </div>

                    <div class="content">
                        <span class="right floated">
                            <i class="heart like icon like-btn"
                               th:classappend="${travel.checked} ? 'checked' : 'outline'"
                               th:value="${travel.id}">
                            </i>
                            <span th:text="${travel.likeCount}"></span> likes
                        </span>
                        <i class="comment icon"></i>
                        <span th:text="${travel.commentCount}"></span> comments
                    </div>
                </div>
            </div>
        </div>


        <div id="popular-map" class="sixteen wide column right floated  map-list-box">
            <h1>인기최고 여행지도</h1>
            <div class="ui three cards">

            </div>
        </div>


        <div id="recommend-map" class="sixteen wide column right floated  map-list-box">
            <h1>추천 여행지</h1>
            <div class="ui three cards">

            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<script th:src="@{/js/util/ajax.js}"></script>
<script th:src="@{/js/map.js}"></script>

</body>
</html>