<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/lib/SemanticUI/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <title>MapMaker</title>
</head>
<body>

<!-- HEADER -->
<div th:insert="common/hearder.html" id="header" class="ui grid container"></div>

<div id="map-search-container">
    <div class="ui grid container">
        <!-- 헤더 -->
        <div id="container-header" class="sixteen wide column">
            <h1>여행 검색</h1>
            <a th:href="@{/mymap/making}">
                <button id="making-btn" class="ui medium teal button right floated">지도 만들기</button>
            </a>
        </div>

        <!-- 검색 영역 -->
        <div id="search-box">
            <form action="/search/map" method="GET">
                <div class="ui search icon input">
                    <input class="prompt" name="keyword" type="text" placeholder="검색어를 입력해주세요">
                    <i class="search icon"></i>
                </div>
            </form>
        </div>

        <!-- 카드 정보 -->
        <div class="sixteen wide column map-list-box">
            <div class="ui three cards">
                <div th:each="travel : ${travelList}" class="card">
                    <div class="content">
                        <p class="right floated meta" th:text="${travel.userName}"></p>
                        <p th:text="${travel.title}"></p>
                    </div>

                    <div class="image">
                        <a th:href="@{'/map/' + ${travel.id}}">
                            <img class="card-img" th:src="${travel.filePath}">
                        </a>
                    </div>

                    <div class="content">
                        <p th:text="${travel.description}"></p>
                    </div>

                    <div class="content">
                        <span class="right floated">
                            <i class="heart like icon like-btn"
                               th:classappend="${travel.likeChecked} ? 'checked' : 'outline'"
                               th:value="${travel.id}">
                            </i>
                            <span th:text="${travel.likeCount}"></span> likes
                        </span>
                        <i class="comment icon"></i>
                        <span th:text="${travel.commentCount}"></span> comments
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer" class="ui grid container"></div>

<script th:src="@{/js/mapSearch.js}"></script>

</body>
</html>